#
# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
#

# The choice Option only here no need for menu item
choice MCUX_COMPONENT_middleware.multicore.rpmsg-lite.env
    prompt "Select RPMSG-Lite Environment Porting Layer"

    default MCUX_COMPONENT_middleware.multicore.rpmsg-lite.bm if !(MCUX_COMPONENT_middleware.freertos-kernel)
    default MCUX_COMPONENT_middleware.multicore.rpmsg-lite.freertos if MCUX_COMPONENT_middleware.freertos-kernel

    config MCUX_COMPONENT_middleware.multicore.rpmsg-lite.bm
        tristate "Baremetal"

    config MCUX_COMPONENT_middleware.multicore.rpmsg-lite.freertos
        tristate "FreeRTOS"

    config MCUX_COMPONENT_middleware.multicore.rpmsg-lite.qnx
        tristate "QNX"

    config MCUX_COMPONENT_middleware.multicore.rpmsg-lite.threadx
        tristate "ThreadX"

    config MCUX_COMPONENT_middleware.multicore.rpmsg-lite.xos
        tristate "XOS"

    config MCUX_COMPONENT_middleware.multicore.rpmsg-lite.zephyr
        tristate "Zephyr RTOS"

endchoice
